<!--The content below is only a placeholder and can be replaced.-->
<header>
  <section class="hero" style="min-height: 0 !important">
    <div class="container">
      <div class="row nav-wrapper">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img src="app/images/logo.png" alt="logo"></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="about">About</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#" class="btn-signup btn-primary">Sign Up</a></li>
                  </ul>
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav> <!-- end nav -->
      </div> <!-- End row -->
    </div> <!-- end container -->
  </section> <!-- end hero -->
</header>
<app-home></app-home>
 <!-- Show this view if "show_read_products_html" property of AppComponent is true. -->
 <!--
    * Show this view if "show_create_product_html" is true.
 
    * If (show_read_products_event) was emitted in CreateProductComponent,
      trigger showReadProducts() method in AppComponent.
-->
<app-create-product
*ngIf="show_create_product_html"
(show_read_products_event)="showReadProducts($event)">
</app-create-product>
<!--
    * Show this view if "show_update_product_html" is true.
 
    * Pass "product_id" property value of AppComponent
      to [product_id] property of UpdateProductComponent.
 
    * If (show_read_products_event) was emitted in UpdateProductComponent,
      trigger showReadProducts() method in AppComponent.
-->
<app-update-product
    *ngIf="show_update_product_html"
    [product_id]="product_id"
    (show_read_products_event)="showReadProducts($event)">
</app-update-product>

<!--
    * Show this view if "show_read_one_product_html" is true.
 
    * If (show_read_products_event) was emmited in ReadOneProductComponent,
      trigger showReadProducts() method in AppComponent.
 
    * Pass "product_id" property value of AppComponent
      to [product_id] property of ReadOneProductComponent.
-->
<app-read-one-product
    *ngIf="show_read_one_product_html"
    (show_read_products_event)="showReadProducts($event)"
    [product_id]="product_id">
</app-read-one-product>
<app-read-products
*ngIf="show_read_products_html"
(show_create_product_event)="showCreateProduct($event)"
(show_read_one_product_event)="showReadOneProduct($event)"
(show_update_product_event)="showUpdateProduct($event)">
</app-read-products>
<router-outlet></router-outlet> 
