<section class="section features" id="how">
  <div class="container text-center">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">Use below form to add new item</h2>
      </div>
    </div> <!-- End row -->
          <form>
              <input type="text" class="txt" name="item" placeholder="Item Name" [(ngModel)] = "GoalText"/>
              <p>
                {{GoalText}}
              </p>
              <input type="submit"  class="btn" [value]="btnText" (click)="addItem()"/>
          </form>
          <div class="col">
            Your Bucket List ({{itemCount}})
            <p class="life-container" *ngFor="let goal of goals">
                {{goal}}
            </p>
          </div>
  </div>
</section>  